<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: head(${pageTitle})}"></head>
<body>
    <div th:replace="~{fragments/header :: navbar(true)}"></div>
    <div class="container mt-4">
        <h2 th:text="${pageTitle}"></h2>
        <div th:replace="~{fragments/forms :: album-form(${album}, ${formAction}, ${buttonText})}"></div>
    </div>
    <div th:replace="~{fragments/header :: scripts}"></div>
</body>
</html>

